html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

 /* HEADER */
.header h1{
    margin:0; /** Remove default padding*/
    display: inline-block;  /** Make width as big as the content*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header div {
    position: relative;
    margin:0;
    background-color: #03A9F4;
    width: 100%;
    height: 5rem;
    text-align: center;
}

/* FOOTER */
.footer div{
    background-color: #03A9F4;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#addBtn {
    position: absolute;
    color: white;
    background: #01579B;
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    cursor: pointer;
}

/* SEARCH BAR*/
#searchContainer {
    width: 20rem;
    height: 2rem;
    display:block;
    margin: 0 auto;
    margin-top: 3rem;
}

input#search-bar {
    margin: 0 auto; /*for being horizontally centered*/
    /**get the width and height from the container*/
    width: 100%; 
    height: 100%;
    border-bottom: 1px solid #D0CFCE;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    padding: 0 20px; /**padding fot the placeholder/*/
    outline: none;
}

input#search-bar:focus {
    border-bottom: 1px solid #008ABF;
    color: black;
}
input:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity 0.45s ease;
    
}

/* WORD CARD */
.updateBtn, .deleteBtn {
    border: none;
    
}


#app {
    display: inline;
}

ul {
    display: inline-flex
}

li {
    margin: 70px;
    list-style: none;
    text-align:center;
    background-color: white;
    color: #6200EE;
}

a {
    text-decoration-line: none
}
